<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Belajar VueJS</title>
  <style>
    @font-face

    /*perintah untuk memanggil font eksternal*/
      {
      font-family: "Quicksand";
      /*memberikan nama bebas untuk font*/
      src: url("assets/font/Quicksand-VariableFont_wght.ttf");
      /*memanggil file font eksternalnya di folder nexa*/
    }

    @font-face

    /*perintah untuk memanggil font eksternal*/
      {
      font-family: "Quicksand Bold";
      /*memberikan nama bebas untuk font*/
      src: url("assets/font/Quicksand-Bold.ttf");
      /*memanggil file font eksternalnya di folder nexa*/
    }

    /* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Quicksand&display=swap"); */

    body {
      margin: 5%;
      font-family: "Quicksand", sans-serif;
    }

    .judul {
      text-align: center;
      font-size: 4em;
    }

    .active {
      background-color: salmon;
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px 8px;
      font-weight: bold;
    }

    .active-link {
      text-decoration: none;
      padding: 5px 10px;
      background-color: #41B883;
      color: white;
      font-weight: bold;
    }

    footer {
      font-family: "Quicksand Bold";
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #74747d;
      background-color: #F6F6F6;
    }
  </style>
</head>

<body>
  <div id="app">
    <header>
      <h1 class="judul">Belajar VueJS</h1>
      <div class="content">
        <ol>
          <h1>
            <li>Binding Expression (Interpolation atau Template Syntax) + Data</li>
          </h1>
          <P>
            STRING, NUMBER, BOOLEAN, ARRAY, OBJECK.
            Data adalah property yang bisa diakses atau digunkana untuk membuat sesuatu terkait programnya.
          </P>
          <h3>{{ name }}</h3>
          <img src="assets/img/logo-vuejs.png" alt="vue.js" width="100" />

          <h1>
            <li>Computed + JavaScript Expression</li>
          </h1>
          <p>
            COMPUTED PROPERTY INI SEPERTI KITA MENDEFINISIKAN SEBUAH PROPERTY ATAU VARIABLE BIASA DI DALAM VUE JS NYA.
            TAPI, COMPUTED PROPERTY INI BERBENTUK FUNGSI(function).
          </p>
          <p>
            NILAI DARI PROPERTINYA ITU TERGANTUNG DARI NILAI PROPERTY LAIN(this.qty).Contoh : JIKA KITA MENGUBAH
            PROPERTY A OTOMATIS PROPERTY B, C DLL YANG BERGANTUNG DENGAN PROPERTY A AKAN IKUT BERUBAH.
          </p>
          <h3>{{bilangan}}</h3>
          <p>Bilangan <b>{{bilangan}}</b> adalah bilangan {{ infoBilangan }}</p>
          <h3>{{ namaLengkap.toUpperCase() }}</h3>

          <h1>
            <li>Directive</li>
          </h1>
          <h3 v-text="name"></h3>
          <h3 v-html="link"></h3>
          <h3 v-text="name.toUpperCase()"></h3>

          <h1>
            <li>Attribute Binding</li>
          </h1>
          <img v-bind:src="gambar" alt="Logo JavaScript" width="250">
          <img :src="gambar2" alt="Logo Vue Js" width="200">

          <h1>
            <li>Event + Method</li>
          </h1>
          <h3 v-text="bilangan2"></h3>
          <p>Bilangan {{bilangan2}} adalah bilangan {{ infoBilangan2 }}</p>
          <img :src="gambar3" alt="Logo" width="100">
          <p>
            <!-- <button v-on:click="bilangan++">Klik</button> -->
            <!-- <button v-on:click="hendleClick()">Klik</button> -->
            <button @click="hendleClick">Klik</button>
          </p>

          <p v-text="pesanTerbalik"></p>
          <button @click="reverseMessage">Pesan Terbalik</button>

          <h1>
            <li>Class Binding</li>
          </h1>
          <p>
            <!-- <button :class="{active: menu == 'home'}" @click="menu == 'home'">Home</button> -->
            <button :class="{active: menu == 'home'}" @click="infoMenu('home')">Home</button>
            <button :class="{active: menu == 'about'}" @click="infoMenu('about')">About</button>
            <button :class="{active: menu == 'blog'}" @click="infoMenu('blog')">Blog</button>
          </p>

          <h1>
            <li>Two Way Data Bindig</li>
          </h1>
          <p v-text="vModel"></p>
          <input v-model="vModel">
          <P v-text="twoWayDB"></P>
          <input type="text" v-model="twoWayDB">
          <p>{{kelas}}</p>
          <p v-text="kelas.join()"></p>
          <div>
            <label>
              <input type="checkbox" value="angular" v-model="kelas">Angular
            </label>
            <label>
              <input type="checkbox" value="react" v-model="kelas">React
            </label>
            <label>
              <input type="checkbox" value="vueJS" v-model="kelas">Vue JS
            </label>
          </div>

          <h1>
            <li>Directive Perulangan</li>
          </h1>
          <h2>v-for</h2>
          <ul>
            <!-- <li v-for="k in kelas" v-text="k"></li> -->
            <li v-for="k of kelas" v-text="k"></li>
          </ul>
          <h3>Mengakses Index</h3>
          <ul>
            <!-- <li v-for="(item, index) of kelas">{{ index }} - {{ item }}</li> -->
            <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
          </ul>
          <h3>Perulangan 1-5</h3>
          <ul>
            <li v-for="x in 5">{{x}}</li>
          </ul>
          <h3>Latihan, Mencari Bilangan Genap {{numbers}}</h3>
          <ul>
            <li v-for="num in cariBilGenap(numbers)">{{num}}</li>
          </ul>

          <!-- CONDITIONALL RENDERING #26 -->
          <h1>
            <li>Directive Pengkondisian</li>
          </h1>
          <h2>v-if</h2>
          <h3>Daftar Kelas ({{kelas.length}})</h3>
          <ul v-if="kelas.length > 1">
            <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
          </ul>
          <h2>v-else</h2>
          <h4># Fadeback jika suatu logika bernilai FALSE, dibawah ini Fadeback nya</h4>
          <ul v-if="kelasKosong.length > 1">
            <li v-for="(item, index) of kelasKosong">{{ index+1 }} - {{ item }}</li>
          </ul>
          <p v-else><b><u>Data kelas belum tersedia</u></b></p>
          <h2>v-show</h2>
          <p># Perbedaan <b>v-if dan v-show</b>. kalo <b>v-if itu, <i>jika syarat-nya bernilai FALSE Elemen tersebut
                akan dihapus dari Strukturnya</i></b>. Sedangkan untuk <b>Directive v-show <i>dia hanya sekedar
                memberikan nila CSS (display:none)</i></b></p>

          <p style="font-family: 'Quicksand Bold';">Directive v-show biasa digunakan untuk fitur-fitur kecil dalam
            manipulasi sebuah elemen. Misalnya, menghilangkan gambar, menampilkan fitur loading dari Web-nya. Itu
            berhungan dengan Interaksi Web-nya.</p>
          <ul v-show="kelasKosong.length > 1">
            <li v-for="(item, index) of  kelasKosong">{{ index+1 }} - {{ item }}</li>
          </ul>
          <h2>template</h2>
          <P>
            Kita bisa mengelompokkan beberapa elemen sesuai kondisi atau syaratnya. kita tau directive v-if harus
            ditempelkan ke elemen parent. Biasanya saya tambahkan di elemen div. Tapi, pada kasus ini kita dapat
            menggunakan v-if pada sebuah elemen(tag) dengan nama template, dimana elemen template ini akan bertindak
            sebagai pembungkus atau mengelompokkan beberapa elemen sekaligus. Dengan menggunakan sintaks template ini,
            maka sintaks template ini tidak akan terlihat didalam DOM. Intinya sintaks template ini hanya pengganti
            sebagai pembungkus untuk melakukan Confitional Rendering.
          </P>
          <template v-if="kelas.length > 1">
            <!-- <ul v-if="kelas.length > 1"> -->
            <ul>
              <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
            </ul>
          </template>
          <p v-else>Kelas belum tersedia</p>
          <h1>
            <li>Objeck Global, Variable Global $event</li>
          </h1>
          <h2>$event</h2>
          <a href="#" :class="{'active-link': menuLink == 'home'}" @click="infoLinkMenu('home', $event)">Home</a>
          <a href="#" :class="{'active-link': menuLink == 'about'}" @click="infoLinkMenu('about', $event)">About</a>
          <a href="#" :class="{'active-link': menuLink == 'blog'}" @click="infoLinkMenu('blog', $event)">Blog</a>
          <h2>Event Modifiers</h2>
          <a href="#" :class="{'active-link': menuLink == 'home'}" @click.prevent="eventModfr('home')">Home</a>
          <a href="#" :class="{'active-link': menuLink == 'about'}" @click.prevent="eventModfr('about')">About</a>
          <a href="#" :class="{'active-link': menuLink == 'blog'}" @click.prevent="eventModfr('blog')">Blog</a>
          <h2>Key Modifiers</h2>
          <input type="text" placeholder="Nama Kelas" @keyup.enter="submit">
          <h2>Form input Bindings</h2>
          <input type="text" placeholder="Nama Kelas" @keyup.enter="submit2" v-model="kelasBaru">

        </ol>

        <p>The progressive JavaScript Framework</p>
      </div>
    </header>

    <footer id="footer">
      <p>copyright 2022</p>
    </footer>
  </div>

  <!-- Script library VueJS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script> -->
  <script src="assets/vendor/vue.js"></script>

  <!-- EKSTERNAL JavaScript -->
  <script src="assets/js/app.js"></script>
</body>
</html>